@use "../media";
.banner {
  --bannerImageOffsetY: 24px;

  padding-block: var(--bannerImageOffsetY);

  @include media.tablet {
    --bannerImageOffsetY: 0px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-gray);
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 26px;
    padding: 60px;

    @include media.tablet {
      padding: 50px;
    }

    @include media.mobile {
      row-gap: 20px;
    }
  }
  &__description {
    max-width: 500px;
  }
  &__image {
    margin-block: calc(var(--bannerImageOffsetY) * -1);

    @include media.tablet {
      max-width: 40%;
      height: auto;
    }
  }
}
