@use "../media";
@use "../mixins";

.reviews {
  display: flex;
  flex-direction: column;
  row-gap: 110px;
  padding-top: 84px;
  padding-bottom: 54px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);
  overflow-x: hidden;

  @include media.tablet {
    row-gap: 46px;
    padding: 30px 30px 46px;
  }

  &__slider {
    --reviewsSliderSlideWidth: 606px;

    @include media.tablet {
      --reviewsSliderSlideWidth: 330px;
    }

    overflow: hidden;
    &-list {
      display: flex;
      column-gap: 50px;
      scroll-snap-type: x mandatory;
      overflow-x: auto;

      @include media.tablet-above {
        margin-left: calc(var(--reviewsSliderSlideWidth) / 2 * -1);
      }
      
      @include media.tablet {
        column-gap: 50px;
      }

      &::-webkit-scrollbar {
        display: none;
        height: 0;
        width: 0;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    &-item {
      min-width: var(--reviewsSliderSlideWidth);
      scroll-snap-align: start;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 564px;
    margin-inline: auto;
  }

  &__arrow-button {
    @include mixins.reset-button;
    @include mixins.flex-center;
    @include mixins.square(48px);
    color: var(--color-light);

    @include media.hover {
      color: var(--color-accent);
    }

    &[disabled] {
      color: var(--color-grey-alt);
      cursor: not-allowed;
    }
    svg {
      @include mixins.square(20px);
    }
  }
}
