// @import "normalize", "fonts", "mixins", "media", "utils", "variables", "globals";
@use "normalize";
@use "fonts";
@use "mixins";
@use "media";
@use "utils";
@use "variables";
@use "globals";
@use "blocks/button";
@use "blocks/grid";
@use "blocks/burger-button";
@use "blocks/header";
@use "blocks/cross-button";
@use "blocks/mobile-overlay";
@use "blocks/section";
@use "blocks/hero";
@use "blocks/puddle-bg";
@use "blocks/services";
@use "blocks/service-card";
@use "blocks/banner";
@use "blocks/studies";
@use "blocks/process";
